
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <mat-sidenav [opened]="mobileQuery.matches ? 'false' : 'false'" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" class="!bg-secondary">
            <mat-nav-list >
                <a class="!text-white" mat-list-item routerLink="."><span class="text-white">Angular</span></a>
                <a mat-list-item routerLink="."><span class="text-white">Flutter</span></a>
                <a mat-list-item routerLink="."><span class="text-white">Ionic</span></a>
                <a mat-list-item routerLink="."><span class="text-white">Android</span></a>
                <a mat-list-item routerLink="."><span class="text-white">iOS</span></a>
                <a mat-list-item routerLink="."><span class="text-white">Php</span></a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>

            <mat-toolbar color="primary" class="example-toolbar !bg-secondary">
                <button mat-icon-button (click)="snav.toggle()">
                    <mat-icon class="!text-white">menu</mat-icon>
                </button>
                <h1 class="example-app-name">Hub Vault</h1>
            </mat-toolbar>
            <section class="page-container p-5">
              <router-outlet/>
            </section>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

