
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <mat-sidenav [opened]="mobileQuery.matches ? 'false' : 'false'" #snav 
        [mode]="mobileQuery.matches ? 'over' : 'side'" class="!bg-secondary">
            <mat-nav-list >
                <div matRipple  class=" border-l-4 border-purpleLight !text-white w-full h-12  inline-flex justify-start items-center p-3 cursor-pointer" mat-list-item routerLink=".">
                    <img class="h-7 w-7 select-none	" src="assets/angular.webp"/>
                <span class="text-purpleLight ml-3 select-none	text-base/6">
                    Angular
                </span>
            </div>

            <div matRipple  class=" cursor-pointer  !text-white w-full h-12  
            inline-flex justify-start items-center p-3" 
            mat-list-item routerLink=".">
                <img class="h-6 w-5 select-none	" src="assets/flutter.webp"/>
            <span class="text-white ml-3 select-none	text-base/6">
                Flutter

            </span>
        </div>
               
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>

            <mat-toolbar color="primary" class="example-toolbar !bg-secondary">
                <button mat-icon-button (click)="snav.toggle()">
                    <mat-icon class="!text-white">menu</mat-icon>
                </button>
                <h1 class="example-app-name">Hub Vault</h1>
            </mat-toolbar>
            <section class="page-container p-5 bg-primary">
              <router-outlet/>
            </section>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

