
<app-bread-crumb></app-bread-crumb>

<div class="bg-secondary rounded-lg mt-5 px-2 pb-4 text-white flex flex-col">
  <div mat-subheader>{{viewModel.bucketData()?.name ?? '' | formatGitHubRepoName}}</div>
  <span class="pl-4 mb-2">{{viewModel.bucketData()?.description}}</span>
  <app-clip-board [url]="viewModel.bucketData()?.url ?? ''"></app-clip-board>
</div>

<div class="bg-secondary rounded-lg mt-5 px-2">
  <mat-list class="!text-white">
    <div mat-subheader>Folders</div>
    @for (folder of folders; track folder) {
      <mat-list-item matRipple class="!rounded-lg">
        <mat-icon matListItemIcon class="select-none !text-white">folder</mat-icon>
        <div matListItemTitle class="select-none !text-white">{{folder.name}}</div>
        <div matListItemLine class="select-none !text-white">{{folder.updated | date}}</div>
      </mat-list-item>
    }
  </mat-list>
</div>


